body {
    margin: 0 50px;
    font-family: 'Quicksand', sans-serif;
    /* background-color: #f5fdff; */
    background-image: url('content/images/pattern_snietselight.png') ;
    /* background-color: rgba(255,255,255,0.94);
    background-blend-mode:lighten; */
  }

.logo{
    width: 300px;
    margin-top: 100px;
}

.logo_block{
    display: flex;
    justify-content: center;
}

.text_block{
    margin-top: 50px;
    text-align: center;
}

.text_block h1{
    font-size: 60px;
}

.text_block p{
    font-size: 30px;
}

.social_links{
    text-decoration: none;
    color: black;
}

.social_links:hover{
    color: #FFACB6;
    transition: 0.15s;
}

.tiktok{
    color: rgb(230, 230, 230);
}